h2 {
    margin-bottom: 50px;
    }



    .bg-green {
        background-color: #076846 ; /* darf ich importnt benutzen xx - lieber nicht  */
    }



    /* Beispiel für Media Queries */
@media (max-width: 768px) {
    .logo {
        max-width: 80%; /* Reduziert die maximale Breite des Logos auf kleineren Bildschirmen */
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 60%; /* Noch kleinere Breite für sehr kleine Bildschirme */
    }
}

    

    .logo {
        max-width: 134px;
        height: auto;
    }
    
    /* Standardlinkfarbe */
.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    display: inline-block; /* Ermöglicht die Anpassung der Breite */
    padding-bottom: 5px; /* Optional: Abstand zum Text */
}

/* Hover-Effekt: weißer Unterstrich */
.nav-link:hover {
    border-bottom: 2px solid white;
    color: white; /* Beibehaltung der weißen Farbe */
}


    table#emissionsTable tbody td {
        padding: 12px 15px;
    }

    table#emissionsTable tbody tr {
        line-height: 1.5;
    }

    table#emissionsTable tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    table#emissionsTable tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    table#emissionsTable thead th {
        font-weight: bold;
        text-align: center;
    }