h2 {
    margin-bottom: 50px;

    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
            background-color: #fbfbf6;
          
          
    }
    
    main {
        flex: 1;
    }
    

    .header {
        display: flex;
        justify-content: center; 
        align-items: center; 
        background-image: url('banner3.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh; /* Höhe des Headers */
        position: relative;
    }
    




    .bg-green {
        background-image: url('banner3.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 25%;  
        padding-bottom: 25%; 
    }
    

    /* Responsiver Header für kleinere Bildschirme */
@media (max-width: 992px) {
    .header {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .header {
        height: 40vh;
    }
}

@media (max-width: 576px) {
    .header {
        height: 30vh;
        background-position: top; 
    }
}

/* Hintergrundbild für mobile Ansichten */
.bg-green {
    background-image: url('banner3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 25%;
    padding-bottom: 25%;
}
 

    /* Beispiel für Media Queries */
@media (max-width: 768px) {
    .logo {
        max-width: 80%; /* Reduziert die maximale Breite des Logos auf kleineren Bildschirmen */
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 60%;            /* Noch kleinere Breite für sehr kleine Bildschirme */
    }
}
    .logo {
        width: 6vw;
        height: auto;
        object-fit: contain;
      
        
    }

    
    
    
.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    display: inline-block; 
    padding-bottom: 5px; 
}


.nav-link:hover {
    border-bottom: 2px solid white;
    color: white; 
    width: 100%; 
}


    table#emissionsTable tbody td {
        padding: 12px 15px;
    }

    table#emissionsTable tbody tr {
        line-height: 1.5;
    }

    table#emissionsTable tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    table#emissionsTable tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    table#emissionsTable thead th {
        font-weight: bold;
        text-align: center;
    }

    


table.dataTable tbody tr {
    background-color: #ffffff !important;  
  }
  
  table.dataTable tbody tr:hover {
    background-color: #ffffff !important;  
  }
 

  